@media (min-width: 768px) {
	.container-narrow {
  	max-width: 730px;
	}
}

.alert a.btn {
	text-decoration: none;
}

.navbar {
	margin-bottom: 0;
}

.leader {
	background: #E5E5E5;
	margin-bottom: 21px;
	border-bottom: 1px solid #BBB;
}

.container-leader h1 {
	margin-top: 10.5px;
}

.leader h1 {
	text-align: center;
}

/* Index Leader */

#steps div {
	float: left; 
	width: 30%;
	margin: 1em 3% 1em 0;
	text-align: center;
	font-size: 1.2em;
	color: #999;
}

#steps div.active {
	color: #444;
	font-weight: bold;
}

/* Upload */

#upload-row {
	margin-top: 2em;
	text-align: center;
}

#upload-help {
	color: #AAA;
	font-size: 0.8em;
	font-weight: bold;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.fileinput-button input {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

p.help-block.error {
	color: #F00 !important;
}

/* Crop */

#crop-row {
	text-align: center;
}

.jcrop-holder {
	margin: 0 auto;
}

#make-the-gif-dude {
	margin-top: 0.7em;
}

/* Compose */

.compose-row {
	margin-top: 25%;
}

/* Recent View */

#recent-row img {
	width: 200px;
	height: 200px;
	margin: 15px;
	float: left;
}

/* Stats */

div.stat {
	background: #FFF;
	padding: 10px 20px;
	width: 700px;
	border: 1px solid #444;
	border-radius: 5px;
	margin-bottom: 20px;
}

div.stat h4 {
	color: #444;
	text-shadow: none;
}

div.stat div.legend {
	float: right;
	margin: 0;
	color: #444;
	font-size: 10px;
}

div.legend div {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.section-header {
	margin: 40px 0;
	border-bottom: 1px solid #BBB;
}
