{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css" type="text/css" />
{% endblock %}

{% block leader %}
<h1><strong>DUN, DUN, DUH!</strong></h1>
<div id="steps">
	<div id="step-1" class="active">1. Upload</div>
	<div id="step-2">2. Select</div>
	<div id="step-3">3. Zoom!</div>
</div>
{% endblock %}

{% block body %}
<div class="row" id="upload-row">
	<span class="btn btn-primary fileinput-button">
		<span>Select Image</span>
		<input type="file" name="file" id="file" />
	</span>
	<p id="upload-help" class="help-block">JPG/GIF/PNG - Max 6MB</p>
</div>

<div class="row" id="crop-row" style="display: none;">
	<p class="help-block">This is the final frame of your GIF, what we zoom in to.</p>
	<img src="" alt="Loading..." id="crop-image" />
	<div>
		<button class="btn btn-primary" id="make-the-gif-dude" disabled="disabled">Create My GIF &raquo;</button>
	</div>
</div>

<div class="row" id="progress-row" style="display: none;">
	<div id="progress" class="progress progress-striped active">
		<div class="progress-bar progress-bar-success" style="width: 100%"></div>
	</div>
	<p id="progress-text" class="help-block" style="text-align: center;">Uploading</p>
</div>

<div class="row" id="error-row" style="display: none;">
	<div id="error" class="alert alert-danger">
		<a href="{{ url_for("index") }}" class="pull-right btn btn-default btn-xs">Try again</a>
		<div class="pull-left"><strong>Well crap. It broke.</strong></div><br/>
		<span id="error-details">Something went wrong and your image was lost forever into the dark abyss.<br/>Sorry. Please don't be mad.</span><br/>
	</div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for("static", filename="vendor/jQuery-File-Upload-9.5.2/js/vendor/jquery.ui.widget.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/jQuery-File-Upload-9.5.2/js/jquery.iframe-transport.js") }}"></script>
<script src="{{ url_for("static", filename="vendor/jQuery-File-Upload-9.5.2/js/jquery.fileupload.js") }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/js/jquery.Jcrop.min.js"></script>
<script src="{{ url_for("static", filename="build/index.min.js") }}"></script>
<script>
	var DDD_UPLOAD_URL = "{{ url_for("upload") }}",
	    DDD_COMPOSE_URL = "{{ url_for("compose") }}",
			DDD_JOB_STATUS_URL = "{{ url_for("rq_job_status") }}",
			DDD_JOB_CANCEL_URL = "{{ url_for("rq_job_cancel") }}",
	    DDD_UPLOAD_TOKEN = "{{ upload_token }}";
</script>
{% endblock %}
