<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DUN-DUN-DUH! // Zoom GIF Maker</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{# TODO: OpenGraph tags #}
		{# TODO: Twitter cards #}
		{# TODO: Apple icons #}
		<link rel="stylesheet" href="{{ url_for("static", filename="vendor/bootstrap.min.css") }}" />
		<link rel="stylesheet" href="{{ url_for("static", filename="build/style.css") }}" media="screen" />
		{% block head %}{% endblock %}

		{% if g_GOOGLE_ANALYTICS_ID %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ g_GOOGLE_ANALYTICS_ID }}']);
			_gaq.push(['_setDomainName', '{{ g_SERVER_NAME }}']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}
	</head>
	<body>
    <div class="navbar navbar-inverse">
      <div class="container container-narrow">
        <div class="navbar-header">
					<a href="{{ url_for("index") }}" class="navbar-brand"><em>DUN-DUN-DUH!</em></a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ url_for("recent") }}">Recent</a></li>
					<li><a href="{{ url_for("stats") }}">Stats</a></li>
					<li><a href="{{ url_for("about") }}">About</a></li>
				</ul>
			</div>
		</div>
		<div class="leader">
			<div class="container container-narrow">{% block leader %}{% endblock %}</div>
		</div>
		<div class="container container-narrow">
			{% block body %}{% endblock %}
		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		{% block script %}{% endblock %}
		<!-- Served With Joy by {{ g_HOSTNAME }} -->
	</body>
</html>
