{% extends "layout.html" %}

{% block leader %}
<h1>Statistics &amp; Graphs</h1>
{% endblock %}

{% block body %}
<h3 class="section-header">All Time Overview</h3>

<table style="margin: 30px 0; width: 100%;" class="table table-striped">
	<tbody>
		<tr>
			<th style="padding-right: 40px;">Total Created</th>
			<td style="text-align: right;">{{ all_time_created }}</td>
		</tr>
		<tr>
			<th style="padding-right: 40px;">Total Failures</th>
			<td style="text-align: right;">{{ all_time_failed }}</td>
		</tr>
		<tr>
			<th style="padding-right: 40px;">Average Creation Time</th>
			<td style="text-align: right;">{{ "%.3f" % all_time_average }} seconds</td>
		</tr>
	</tbody>
</table>

<h3 class="section-header">Processing Times</h3>

<div class="stat">
	<h4>Avg. Rendering Time, Last Hour</h4>
	<div class="legend">
		<div style="background: #000;"></div> Total<br/>
		<div style="background: #F00;"></div> Queue Wait<br/>
		<div style="background: #00F;"></div> Rendering<br/>
		<div style="background: #0F0;"></div> Storing<br/>
	</div>
	<canvas id="averages_hour" width="575" height="300"></canvas>
	<div style="clear: both;"></div>
</div>

<div class="stat">
	<h4>Avg. Rendering Time, Last 24 Hours</h4>
	<div class="legend">
		<div style="background: #000;"></div> Total<br/>
		<div style="background: #F00;"></div> Queue Wait<br/>
		<div style="background: #00F;"></div> Rendering<br/>
		<div style="background: #0F0;"></div> Storing<br/>
	</div>
	<canvas id="averages_day" width="575" height="300"></canvas>
	<div style="clear: both;"></div>
</div>

<div class="stat">
	<h4>Avg. Rendering Time, This Week</h4>
	<div class="legend">
		<div style="background: #000;"></div> Total<br/>
		<div style="background: #F00;"></div> Queue Wait<br/>
		<div style="background: #00F;"></div> Rendering<br/>
		<div style="background: #0F0;"></div> Storing<br/>
	</div>
	<canvas id="averages_week" width="575" height="300"></canvas>
	<div style="clear: both;"></div>
</div>

<h3 class="section-header">Totals</h3>

<div class="stat">
	<h4>Processed, Last Hour</h4>
	<div class="legend">
		<div style="background: #00F;"></div> Completed<br/>
		<div style="background: #F00;"></div> Failed<br/>
		<div style="background: #0F0;"></div> Timed Out<br/>
	</div>
	<canvas id="processed_hour" width="575" height="300"></canvas>
	<div style="clear: both;"></div>
</div>

<div class="stat">
	<h4>Processed, Last 24 Hours</h4>
	<div class="legend">
		<div style="background: #00F;"></div> Completed<br/>
		<div style="background: #F00;"></div> Failed<br/>
		<div style="background: #0F0;"></div> Timed Out<br/>
	</div>
	<canvas id="processed_day" width="575" height="300"></canvas>
	<div style="clear: both;"></div>
</div>

<div class="stat">
	<h4>Processed, This Week</h4>
	<div class="legend">
		<div style="background: #00F;"></div> Completed<br/>
		<div style="background: #F00;"></div> Failed<br/>
		<div style="background: #0F0;"></div> Timed Out<br/>
	</div>
	<canvas id="processed_week" width="575" height="300"></canvas>
	<div style="clear: both;"></div>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for("static", filename="vendor/Chart.min.js") }}"></script>
<script>
	(function () {
		var defaults = {animation: false, datasetFill: false, scaleFontColor: "#444", pointDot: false};
		new Chart(document.getElementById("averages_hour").getContext("2d")).Line({{averages_hour|safe}}, defaults);
		new Chart(document.getElementById("averages_day").getContext("2d")).Line({{averages_day|safe}}, defaults);
		new Chart(document.getElementById("averages_week").getContext("2d")).Line({{averages_week|safe}}, defaults);
		new Chart(document.getElementById("processed_hour").getContext("2d")).Line({{processed_hour|safe}}, defaults);
		new Chart(document.getElementById("processed_day").getContext("2d")).Line({{processed_day|safe}}, defaults);
		new Chart(document.getElementById("processed_week").getContext("2d")).Line({{processed_week|safe}}, defaults);
	}());
</script>
{% endblock %}
