{% extends "layout.html" %}

{% block head %}
<meta property="og:image" content="{{ slug|url_for_still }}"/>
<meta property="og:title" content="Dun-Dun-Duh! Zoom GIF!"/>
<meta property="og:url" content="{{ url_for("view", slug=slug, _external=True) }}"/>
<meta property="og:site_name" content="Dun-Dun-Duh!"/>
<meta property="og:type" content="website"/>

<meta name="twitter:card" content="photo" />
<meta name="twitter:site" content="@DunDunDuhDotCom" />
<meta name="twitter:creator" content="@jmhobbs" />
<meta name="twitter:title" content="Dun-Dun-Duh!" />
<meta name="twitter:image" content="{{ slug|url_for_still }}" />
{% endblock %}


{% block body %}
<div class="row" style="text-align: center;">
	<p>
	<img src="{{ slug|url_for_gif }}" alt="Loading..." /><br/>
	<input type="text" value="{{ slug|url_for_gif }}" style="width: 100%; clear; both; margin-top: 10px; max-width: 600px;" />
	</p>
	<p><a class="btn btn-primary" href="{{ url_for("index") }}">Make A New GIF</a></p>
</div>
{% endblock %}

{% block script %}
<script>
	$(function () {
		$("input").on("click", function () { this.select(); });
	});
</script>
{% endblock %}
