{% extends "layout.html" %}

{% block body %}
<div class="row" style="text-align: center;">
	<p>
	<img src="{{ image_url }}" alt="Loading..." /><br/>
	<input type="text" value="{{ image_url }}" style="width: 100%; clear; both; margin-top: 10px; max-width: 600px;" />
	</p>
	<p><a class="btn btn-primary" href="{{ url_for("index") }}">Make A New GIF</a></p>
</div>
{% endblock %}

{% block script %}
<script>
	$(function () {
		$("input").on("click", function () { this.select(); });
	});
</script>
{% endblock %}
